@import "../lib/mortar/development/less/mixins";

.m-lightbox-overlay {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	.alphaBackground(black, 0.8);
	display: none;
}

.m-lightbox {
	display: none;
	.drop-shadow(0, 0px, 5px, 0.5);

	position: fixed;
	z-index: 110;

	top: 50%;
	left: 50%;

	width: 500px;
	height: 500px;

	margin-top: -250px;
	margin-left: -250px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	transition: all 0.50s;
    -webkit-transition: all .50s;
    -moz-transition: all 0.50s;

	.rounded(5px);

	.m-lightbox-caption {
		position: absolute;
		bottom: 0;
		width: 100%;
		.alphaBackground(black, 0.7);
		padding: 15px;
		.box-sizing(border-box);
		.border-radius(0, 5px, 5px, 0);
		line-height: 1.5;
		color: white;
		display: block;
		font-size: 14px;

		.count {
			color: #999;
			display: block;
			font-size: 10px;
		}
	}

	.m-lightbox-close {
		background: transparent !important;
		position: absolute;
		z-index: 120;
		top: 15px;
		right: 15px;
		padding: 0;
		.opacity(0.5);

		&:hover {
			.opacity(1);	
		}

		i {
			color: white;
			margin: 0;
			font-size: 20px;
			line-height: 20px;
		}
	}

	.m-lightbox-next, .m-lightbox-prev {
		position: absolute;
		cursor: pointer;
		height: 50px;
		top: 50%;
		margin-top: -25px;
		color: white;
		.opacity(0.5);

		&:hover {
			.opacity(1);	
		}

		i {
			line-height: 50px;
			font-size: 50px;
			vertical-align: top;
		}
	}

	.m-lightbox-prev {
		left: 15px;
	}

	.m-lightbox-next {
		right: 15px;
	}

}