.m-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.m-lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 110;
  display: none;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .50s;
     -moz-transition: all 0.50s;
          transition: all 0.50s;
}

.m-lightbox .m-lightbox-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.m-lightbox .m-lightbox-caption .count {
  display: block;
  font-size: 10px;
  color: #999;
}

.m-lightbox .m-lightbox-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 120;
  padding: 0;
  background: transparent !important;
  -webkit-opacity: 0.5;
   -khtml-opacity: 0.5;
     -moz-opacity: 0.5;
          opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
      filter: alpha(opacity=50);
}

.m-lightbox .m-lightbox-close:hover {
  -webkit-opacity: 1;
   -khtml-opacity: 1;
     -moz-opacity: 1;
          opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
      filter: alpha(opacity=100);
}

.m-lightbox .m-lightbox-close i {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

.m-lightbox .m-lightbox-next,
.m-lightbox .m-lightbox-prev {
  position: absolute;
  top: 50%;
  height: 50px;
  margin-top: -25px;
  color: white;
  cursor: pointer;
  -webkit-opacity: 0.5;
   -khtml-opacity: 0.5;
     -moz-opacity: 0.5;
          opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
      filter: alpha(opacity=50);
}

.m-lightbox .m-lightbox-next:hover,
.m-lightbox .m-lightbox-prev:hover {
  -webkit-opacity: 1;
   -khtml-opacity: 1;
     -moz-opacity: 1;
          opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
      filter: alpha(opacity=100);
}

.m-lightbox .m-lightbox-next i,
.m-lightbox .m-lightbox-prev i {
  font-size: 50px;
  line-height: 50px;
  vertical-align: top;
}

.m-lightbox .m-lightbox-prev {
  left: 15px;
}

.m-lightbox .m-lightbox-next {
  right: 15px;
}